*{
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}

#caja{
    background-color: aqua;
    width: 10em;
    height: 10em;
}

#caja1{
    background-color: aqua;
    width: 10em;
    height: 10em;
}

#caja2{
    background-color: aqua;
    width: 10em;
    height: 10em;
}

#caja3{
    background-color: aqua;
    width: 10em;
    height: 10em;
}

#amarillo{
    background-color: yellow;
}


#caja{
    background-color: aqua;
    width: 10em;
    height: 10em;
}